
@using Budget_Tracker.Models
@using Microsoft.AspNet.Identity
@model Household
<!--Quick Action-->
<a href=@Url.Action("Create", "Transactions") style="color:black">
    <div class="info-box mb-3 bg-green">
        <span class="info-box-icon bg-white elevation-1"><i class="fas fa-dollar-sign" style="color: #29a746"></i></span>
        <span class="info-box-content" style="font-size: large; font-weight: bold">Create Transaction</span>
        <i class="fas fa-plus-circle pull-right" style="color: white"></i>
        <!-- /.info-box-content -->
    </div>
</a>
<!--Budgets Progress-->
<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Budget Status</h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Spent</th>
                    <th>Target</th>
                    <th>Progress</th>
                    <th style="width: 40px">%</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: #c9e3ff; cursor: pointer" data-toggle="modal" data-target="#editGroupBudgetModal">
                    <td>@Model.Name</td>
                    <td>@Model.Spent</td>
                    <td>@Model.StartAmount</td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-blue" style="width: @Model.Percentage%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-blue">@Model.Percentage%</span></td>
                </tr>
                @foreach (var budget in Model.Budgets)
                {
                    <tr onclick="location.href = '@Url.Action("Details", "Budgets", new { id = budget.Id })'" style="cursor: pointer">
                        <td>@budget.Name</td>
                        <td>@budget.Spent</td>
                        <td>@budget.Target</td>
                        <td>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-green" style="width: @budget.Percentage%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-green">@budget.Percentage%</span></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!--Users-->
<div class="card">
    <a style="cursor: pointer" data-card-widget="collapse">
        <div class="card-header">
            <h3 class="card-title" style="font-weight: bold">Users</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
    </a>
    <div class="card-body">
        <table id="usersTable" class="table table-bordered table-striped " style="table-layout: fixed">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role
                </tr>
            </thead>
            <tbody>
                @{
                    ApplicationDbContext db = new ApplicationDbContext();

                    var loggedInUser = db.Users.Find(User.Identity.GetUserId());
                    var loop = 1;
                }
                @foreach (var user in Model.Users)
                {
                    var modalId = "viewMemberModal" + loop;
                    <tr style="cursor: pointer" data-toggle="modal" data-target="#@modalId">
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.ReturnRole()</td>
                    </tr>

                    if (loggedInUser.Id != user.Id)
                    {
                        <!-- Leave Household Modal (member)-->
                        <div id="@modalId" class="modal fade">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <div style="text-align: center" class="col">
                                            <h3 class="modal-title" style="font-weight: bold">@user.FullName (@user.ReturnRole())</h3>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row m-1">
                                            <a class="btn btn-warning" style="width: 100%; color:black; cursor: pointer" onclick="submitLeaveMemberForm()">
                                                Make head of Household
                                            </a>
                                        </div>
                                        <div class="row m-1 mb-3 mt-3">
                                            <a class="btn btn-warning" style="width: 100%; color:black; cursor: pointer" href=@Url.Action("KickUser", "Households", new { userId = user.Id})>
                                                Kick from Household
                                            </a>
                                        </div>
                                        <div class="row m-1">
                                            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" style="width: 100%">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {

                    }


                    loop++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
