@using Budget_Tracker.Models
@using Microsoft.AspNet.Identity

@{
    ApplicationDbContext db = new ApplicationDbContext();
    var userTwo = db.Users.Find(User.Identity.GetUserId());
}


<!-- Budget Modal -->
<div id="createBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Html.BeginForm("Create", "Budgets", FormMethod.Post, new { id = "createBudgetForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("HouseholdId", userTwo.HouseholdId)
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="font-weight: bold" id="createBudgetErrorHeader">Create Budget</h2>
                </div>
                <div class="modal-body">
                    <h4>Name</h4>
                    @Html.TextBox("BudgetName", null, new { @class = "form-control", @id = "projectTitleTextBox" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-success" onclick="submitCreateBudgetForm()" style="color: white; cursor: pointer">
                        Save
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<!-- Deposit Modal -->
<div id="makeADepositModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @Html.Hidden("bankId", null, new { @id = "hiddenBankId" })
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="font-weight: bold" id="depositHeader">Make a Deposit</h2>
            </div>
            <div class="modal-body">
                <div class="accordion" id="ticketAccordion">
                    <div id="accountHeader" class="info-box mb-3" style="cursor: pointer" data-target="#accountCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="accountCollapse">
                        <span id="spanAccountBgColor" class="info-box-icon bg-gradient-cyan elevation-1"><i id="spanAccountIcon" class="iAccountClass fas fa-exclamation"></i></span>
                        <div class="info-box-content">
                            <span id="spanAccount" class="info-box-text" style="font-size: large; font-weight: bold">Account:</span>
                            <span id="spanAccountBalance" class="info-box-text">Select an Account</span>
                        </div>
                        <i class="fas fa-chevron-down float-right"></i>
                        <!-- /.info-box-content -->
                    </div>
                    <div id="accountCollapse" class="collapse" aria-labelledby="accountHeader"
                         data-parent="#ticketAccordion">
                        @foreach (var account in userTwo.BankAccounts.ToList())
                        {
                            if (account.Type.ToString() == "Checking")
                            {
                                <div style="padding-left: 20%">
                                    <a href="#" style="color:black" onclick="selectBank(@account.Id, @account.Balance)">
                                        <div id="accountHeader" class="info-box mb-3 aAccountClass" style="cursor: pointer" data-target="#accountCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                            <span class="info-box-icon bg-gradient-green elevation-1"><i class="iAccountClass fas fa-money-bill"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text accountNameClass" style="font-size: large; font-weight: bold">@account.Name</span>
                                                <span class="info-box-number accountBalanceClass">$@account.Balance</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div style="padding-left: 20%">
                                    <a href="#" style="color:black" onclick="selectBank(@account.Id, @account.Balance)">
                                        <div id="accountHeader" class="info-box mb-3 aAccountClass" style="cursor: pointer" data-target="#accountCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="accountCollapse">
                                            <span class="info-box-icon bg-gradient-blue elevation-1"><i class="iAccountClass fas fa-university"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text accountNameClass" style="font-size: large; font-weight: bold">@account.Name</span>
                                                <span class="info-box-number accountBalanceClass">$@account.Balance</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>
                                </div>
                            }

                        }


                    </div>
                </div>
                <h4>Amount</h4>
                <input type="number" id="amountId" class="form-control" />
                <h4>Memo</h4>
                <input type="text" id="memoId" class="form-control" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                <a class="btn btn-success" onclick="submitDepositForm()" data-dismiss="modal" style="color: white; cursor: pointer">
                    Save
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Leave Household Modal (member)-->
<div id="leaveGroupMemberModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @using (Html.BeginForm("LeaveMember", "Households", FormMethod.Post, new { id = "leaveMemberForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("userId", userTwo.Id)
                <!-- Modal Header -->
                <div class="modal-header">
                    <div style="text-align: center" class="col">
                        <h3 class="modal-title" style="font-weight: bold">Are you sure?</h3>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" style="width: 100%">No</button>
                    <a class="btn btn-warning" style="width: 100%; color:black; cursor: pointer" onclick="submitLeaveMemberForm()">
                        Yes
                    </a>
                </div>
            }

        </div>
    </div>
</div>

<!-- Leave Household Modal (head with members)-->
<div id="leaveGroupHeadWithMembers" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="font-weight: bold" id="depositHeader">Assign head before leaving.</h2>
            </div>
            <div class="modal-body">
                <!--Users-->
                <div class="card">
                    <a style="cursor: pointer" data-card-widget="collapse">
                        <div class="card-header">
                            <h3 class="card-title" style="font-weight: bold">Select user to assign and leave.</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </a>
                    <div class="card-body">
                        <table id="usersTable" class="table table-bordered table-striped " style="table-layout: fixed">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tableUser in userTwo.Household.Users)
                                {
                                    <tr style="cursor: pointer" onclick="location.href = '@Url.Action("LeaveGroupHeadWithMembers", "Households", new { userId = userTwo.Id, newHeadId = tableUser.Id })'">
                                        <td>@tableUser.FirstName</td>
                                        <td>@tableUser.LastName</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Bank Modal -->
<div id="createBankModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="font-weight: bold" id="createABankErrorHeader">Create a Bank</h2>
            </div>
            @using (Html.BeginForm("Create", "BankAccounts", FormMethod.Post, new { id = "createBankForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("userId", userTwo.Id)
                @Html.Hidden("type", null, new { id = "hiddenBankAccountIdCreate" })
                <div class="modal-body">
                    <div class="accordion" id="ticketAccordion">
                        <div id="bankTypeHeader" class="info-box mb-3" style="cursor: pointer" data-target="#bankTypeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="bankTypeCollapse">
                            <span id="spanBankTypeBgColor" class="info-box-icon bg-gradient-cyan elevation-1"><i id="spanBankTypeIcon" class="iBankTypeClass fas fa-exclamation"></i></span>
                            <div class="info-box-content">
                                <span id="spanBankType" class="info-box-text" style="font-size: large; font-weight: bold">Bank Type:</span>
                                <span id="spanBankTypeBalance" class="info-box-text">Select a Type</span>
                            </div>
                            <i class="fas fa-chevron-down float-right"></i>
                            <!-- /.info-box-content -->
                        </div>
                        <div id="bankTypeCollapse" class="collapse" aria-labelledby="bankTypeHeader"
                             data-parent="#ticketAccordion">
                            <div style="padding-left: 20%">
                                <a href="#" style="color:black">
                                    <div id="bankTypeHeader" class="info-box mb-3 aBankTypeClass" style="cursor: pointer" data-target="#bankTypeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse" onclick="selectCreateBankType(0)">
                                        <span class="info-box-icon bg-gradient-green elevation-1"><i class="iBankTypeClass fas fa-money-bill"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text bankTypeNameClass" style="font-size: large; font-weight: bold">Checking</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                            <div style="padding-left: 20%">
                                <a href="#" style="color:black">
                                    <div id="bankTypeHeader" class="info-box mb-3 aBankTypeClass" style="cursor: pointer" data-target="#bankTypeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse" onclick="selectCreateBankType(1)">
                                        <span class="info-box-icon bg-gradient-blue elevation-1"><i class="iBankTypeClass fas fa-university"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text bankTypeNameClass" style="font-size: large; font-weight: bold">Savings</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4>Name</h4>
                    <input type="text" id="bankNameId" class="form-control" name="name" />
                    <h4 class="pt-3">Balance</h4>
                    <input type="number" id="bankAmountId" class="form-control" name="balance" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-success" onclick="checkBankAccountCreationFields()" style="color: white; cursor: pointer">
                        Save
                    </a>
                </div>
            }

        </div>
    </div>
</div>

