@using Budget_Tracker.Models
@using Microsoft.AspNet.Identity

@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Budget Tracker</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <!-- Font Awesome -->
        <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link href="~/Content/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
        <!-- iCheck -->
        <link href="~/Content/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
        <!-- JQVMap -->
        <link href="~/Content/jqvmap/jqvmap.min.css" rel="stylesheet" />
        <!-- Theme style -->
        <link href="~/Content/dist/css/adminlte.min.css" rel="stylesheet" />
        <!-- overlayScrollbars -->
        <link href="~/Content/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
        <!-- Daterange picker -->
        <link href="~/Content/daterangepicker/daterangepicker.css" rel="stylesheet" />
        <!-- summernote -->
        <link href="~/Content/summernote/summernote-bs4.css" rel="stylesheet" />
        <!-- Google Font: Source Sans Pro -->
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <link href="~/Content/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/datatables-select/css/select.bootstrap4.min.css" rel="stylesheet" />
        
        <!--FavIcon-->
        <link rel="apple-touch-icon" sizes="180x180" href="/Content/FavIcon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/Content/FavIcon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/Content/FavIcon/favicon-16x16.png">
        <link rel="manifest" href="/Content/FavIcon/site.webmanifest">

        <style>
            .modal-backdrop {
    z-index: 1037;
}
        </style>
        
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href=@Url.Action("Index", "Home") class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href=@Url.Action("About", "Home") class="nav-link">About</a>
                    </li>
                </ul>


                <ul class="navbar-nav ml-auto">
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell fa-2x"></i>
                            @if (user.AllNotifications.Count() > 0)
                            {
                                <span class="badge badge-warning navbar-badge">@(user.AllNotifications.Count())</span>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">@user.AllNotifications.Count() Notifications</span>
                            @foreach (var notification in user.AllNotifications)
                            {
                                if (!notification.IsRead)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a href=@Url.Action("Delete", "Notifications", new { id = notification.Id}) class="dropdown-item" style="cursor: pointer">
                                        <i class="fas fa-exclamation-triangle mr-2"></i>
                                        <p>
                                            @notification.Message
                                        </p>
                                    </a>
                                }
                            }
                            @*<div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>*@
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4" style="overflow-x: hidden;">
                <!-- Brand Logo -->
                <a href="index3.html" class="brand-link">
                    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>

                <!-- Sidebar -->
                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <!-- Brand Logo -->
                    <a href="" class="brand-link">
                        <h3 style="font-weight: bold">Budget Tracker</h3>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                        <!-- Sidebar user panel (optional) -->
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                            </div>
                            <div class="info">
                                <h5 style=" color: #d7d8d9">
                                    @user.FullName
                                </h5>
                            </div>
                        </div>

                        <!-- Sidebar Menu -->
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                                <li class="nav-item">
                                    <a href=@Url.Action("Index", "Home") class="nav-link active">
                                        <i class="nav-icon fas fa-th"></i>
                                        <p>Dashboard</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-users"></i>
                                        <p>
                                            @user.Household.Name
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" data-toggle="modal" data-target="#inviteUserModal">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Invite User</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" onclick="leaveGroup('@user.ReturnRole()', @user.Household.Users.Count())">
                                                <i class="fas fa-times-circle nav-icon"></i>
                                                <p>Leave Household</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-university "></i>
                                        <p>
                                            Bank Accounts
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>

                                    @{
                                        var loop = 1;
                                    }
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a data-toggle="modal" data-target="#createBankModal" class="nav-link" style="cursor: pointer">
                                            <i class="fa fa-plus-circle nav-icon"></i>
                                            <p>Create New</p>
                                        </a>
                                    </li>
                                    @foreach (var bankAccount in user.BankAccounts)
                                    {
                                        var modalId = "editBankAccountModal" + loop;

                                        <li class="nav-item">
                                            <a data-toggle="modal" data-target="#@modalId" class="nav-link" style="cursor: pointer">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@bankAccount.Name</p>
                                            </a>
                                        </li>

                                        <!-- Edit Bank Account Modal -->
                                        <div id="@modalId" class="modal fade editBankModal" role="dialog">
                                            <div class="modal-dialog backdropClass">
                                                <!-- Modal content-->
                                                @using (Html.BeginForm("Edit", "BankAccounts", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("accountId", bankAccount.Id)
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title" style="font-weight: bold">Edit Bank Account</h2>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Name</h4>
                                                            @Html.TextBox("accountName", bankAccount.Name, new { @class = "form-control" })
                                                            <h5 class="pt-3">Balance</h5>
                                                            @Html.TextBox("accountBalance", bankAccount.Balance, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-success">Save</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        loop++;
                                    }
                                </ul>
                                    </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-layer-household"></i>
                                        <p>
                                            Budgets
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="modal" data-target="#createBudgetModal" style="cursor: pointer">
                                                <i class="fa fa-plus-circle nav-icon"></i>
                                                <p>Create New</p>
                                            </a>
                                        </li>
                                        @foreach (var budget in user.Household.Budgets)
                                        {
                                            <li class="nav-item">
                                                <a href=@Url.Action("Details", "Budgets", new { id = budget.Id}) class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@budget.Name</p>
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-money-bill "></i>
                                        <p>
                                            Transactions
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href=@Url.Action("Create", "Transactions", new { householdId = user.HouseholdId}) class="nav-link">
                                                <i class="fa fa-plus-circle nav-icon"></i>
                                                <p>Create</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="padding-top: 250px">
                                <li class="nav-item">
                                    <a class="bg-green nav-link" data-toggle="modal" data-target="#makeADepositModal" style="cursor: pointer">
                                        <i class="nav-icon fas fa-sign-in-alt"></i>
                                        <p>Make a Deposit</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="bg-green nav-link" href=@Url.Action("Create", "Transactions", new { householdId = user.HouseholdId})>
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Create Transaction</p>
                                    </a>
                                </li>
                                <li class="nav-item" style="padding-top: 10px">
                                    <a href=@Url.Action("CustomLogOff", "Account") class="nav-link bg-red ">
                                        <i class="nav-icon fas fa-door-open"></i>
                                        <p>Log Off</p>
                                    </a>
                                </li>

                            </ul>

                        </nav>



                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>
                <!-- /.sidebar -->
            </aside>
            <!----------------------------------------------------------------------------------------------------------------------------->
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                @RenderBody()
            </div>
            @using (Html.BeginForm("InviteUser", "Households", FormMethod.Post, new { id = "inviteUserForm" }))
            {
                <!-- Invite Modal -->
                <div class="modal fade" id="inviteUserModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            @Html.AntiForgeryToken()
                            @Html.Hidden("userId", user.Id)
                            @Html.Hidden("householdId", user.HouseholdId)
                            <!-- Modal body -->
                            <div class="modal-body" style="text-align: center">
                                <h2 class="modal-title" style="font-weight: bold" id="emailHeader">Enter an Email</h2>
                                @Html.TextBox("email", null, new { @class = "form-control" })
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-success" id="submitInviteForm" style="color: white">
                                    Invite
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

        @Html.Partial("_LayoutModals")

        

        <!-- jQuery -->
        <script src="~/Scripts/jquery/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>$.widget.bridge('uibutton', $.ui.button)</script>
        <!-- Bootstrap 4 -->
        <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="~/Scripts/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="~/Scripts/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="~/Scripts/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/Scripts/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="~/Scripts/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="~/Scripts/moment/moment.min.js"></script>
        <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="~/Scripts/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="~/Scripts/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/Scripts/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->


        <script src="~/Scripts/dist/js/adminlte.js"></script>


        <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/Scripts/datatables-select/js/dataTables.select.min.js"></script>
        <script src="~/Scripts/datatables-select/js/select.bootstrap4.min.js"></script>

        <script src="~/Scripts/lodash.js"></script>

        <script>

            $("#submitInviteForm").on("click", function () {
                $("#emailHeader").text("Sending invite...")
                $("#inviteUserForm").submit()
            })

            $(".aAccountClass").on("click", function () {
                //Step 1: Get the icon from the thing we clicked
                var icon = $(this).find(".iAccountClass").attr("class").replace("iAccountClass", "");

                //Step 2: Get the BG color...
                var bgColor = $(this).find(".elevation-1").attr("class");

                //Step 3: Get the text from the thing we clicked
                accountText = $(this).find(".accountNameClass").text();
                accountAmount = $(this).find(".accountBalanceClass").text();

                //Get the current class we are replacing
                var bgClass = $("#spanAccountBgColor").attr("class");
                $("#spanAccountBgColor").removeClass(bgClass);
                $("#spanAccountBgColor").addClass(bgColor);

                var icoClass = $("#spanAccountIcon").attr("class");
                $("#spanAccountIcon").removeClass(icoClass);
                $("#spanAccountIcon").addClass(icon);
                $("#spanAccount").text(accountText);
                $("#spanAccountBalance").text(accountAmount)

                $("#errorHeader").text("")
            })

            $(".aBankTypeClass").on("click", function () {
                //Step 1: Get the icon from the thing we clicked
                var icon = $(this).find(".iBankTypeClass").attr("class").replace("iBankTypeClass", "");

                //Step 2: Get the BG color...
                var bgColor = $(this).find(".elevation-1").attr("class");

                //Step 3: Get the text from the thing we clicked
                bankTypeText = $(this).find(".bankTypeNameClass").text();

                //Get the current class we are replacing
                var bgClass = $("#spanBankTypeBgColor").attr("class");
                $("#spanBankTypeBgColor").removeClass(bgClass);
                $("#spanBankTypeBgColor").addClass(bgColor);

                var icoClass = $("#spanBankTypeIcon").attr("class");
                $("#spanBankTypeIcon").removeClass(icoClass);
                $("#spanBankTypeIcon").addClass(icon);
                $("#spanBankTypeBalance").text(bankTypeText);
                $("#errorHeader").text("")
            })

            function selectBank(bankId) {
                $("#hiddenBankId").val(bankId)
            }

            function submitDepositForm() {
                var amount = $("#amountId").val();
                var memo = $("#memoId").val();
                var bankId = $("#hiddenBankId").val()
                $.ajax({
                type: "POST",
                url: "@Url.Action("CreateDeposit", "Transactions")",
                    data: {
                        "bankId": bankId,
                        "amount": amount,
                        "memo": memo
                    },
                    success: function (partialViewResult) {
                        $("#partialTwoDiv").html(partialViewResult);
                    }
                });
            }

            function submitCreateBudgetForm() {
                var title = $("#projectTitleTextBox").val();
                var titleIsEntered = false;
                if (title == "") {
                    $("#createBudgetErrorHeader").text("Enter a Name")
                } else {
                    titleIsEntered = true;
                }
                if (titleIsEntered) {
                    $("#createBudgetForm").submit()
                }
            }

            function selectCreateBankType(type) {
            $("#hiddenBankAccountIdCreate").val(type)
            }

            function checkBankAccountCreationFields() {
                var typeIsSelected = false;
                var nameIsEntered = false;
                var balanceIsEntered = false;
                var type = $("#hiddenBankAccountIdCreate").val();
                var name = $("#bankNameId").val();
                var balance = $("#bankAmountId").val();

                if (type != "") {
                    typeIsSelected = true;
                }
                if (name != "") {
                    nameIsEntered = true;
                }
                if (balance != "") {
                    balanceIsEntered = true;
                }

                if (!typeIsSelected) {
                    $("#createABankErrorHeader").text("Select a Type")
                } else if (!nameIsEntered) {
                    $("#createABankErrorHeader").text("Enter a Name")
                } else if (!balanceIsEntered) {
                    $("#createABankErrorHeader").text("Enter a Balance")
                } else {
                    $("#createABankErrorHeader").text("Create a Bank")
                }

                if ($("#createABankErrorHeader").text() == "Create a Bank") {
                    $("#createABankErrorHeader").text("Creating bank...")
                    $("#createBankForm").submit();
                }
            

            }


            function leaveGroup(role, numberOfUsers) {
                if (role == "Head" && numberOfUsers == 1) {
                    $("#leaveGroupMemberModal").modal("toggle");
                } else if (role == "Head") {
                    $("#leaveGroupHeadWithMembers").modal("toggle");
                } else if (role != "Head") {
                    $("#leaveGroupMemberModal").modal("toggle");
                }
            }

            function submitLeaveMemberForm() {
                $("#leaveMemberForm").submit();
            }

            $("#usersTable").DataTable({
                searching: false
            });
            $("#transactionsTable").DataTable({
                searching: false
            });

        </script>

        @RenderSection("scripts", required: false)

    </body>
