@using Budget_Tracker.Models
@model DashboardViewModel
<!-- Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-10">
                <h1 class="m-0 text-dark" style="font-weight: bold; font-size: 350%">
                    <a style="cursor: pointer" data-target="#editGroupBudgetModal" data-toggle="modal">
                        <i class="fas fa-edit" style="color: #037bff"></i>
                    </a>
                    Monthly Balance: $@Model.Household.Balance
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <section class="col-lg-4">
                <div id="partialOneDiv">
                    @Html.Partial("_DashboardPartialOne", Model.Household)
                </div>
            </section>
            <section class="col-lg-8">
                <!--Row for quick info-->
                <div class="row">
                    <div class="col-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fas fa-calendar-day"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Spent Today</span>
                                <span class="info-box-number">$@Model.SpentToday</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fas fa-calendar-week"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Spent This Week</span>
                                <span class="info-box-number">$@Model.SpentWeek</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="far fa-calendar"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Spent This Month</span>
                                <span class="info-box-number">$@Model.SpentMonth</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
                <!--Line Chart Partial-->
                @*<div id="lineChartDiv">
            @Html.Partial("_LineChartPartial", Model.ChartData)
        </div>*@
                <div class="row">
                    <div class="col">
                        <div class="card card-primary" style="width: 100%">
                            <div class="card-header">
                                <h3 class="card-title">Budget Status</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                    <canvas id="areaChart" style="height: 250px; min-height: 250px; display: block; width: 100%;" height="625" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <div id="partialTwoDiv">
                    @Html.Partial("_DashboardPartialTwo", Model.Household)
                </div>
            </section>
        </div>
    </div>
</section>
<!-- /.content-wrapper -->

<!-- Household Edit Modal -->
<div id="editGroupBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Html.BeginForm("EditBudget", "Households", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("budgetId", Model.Household.Id)
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="font-weight: bold">Edit Monthly Budget</h2>
                </div>
                <div class="modal-body">
                    <h5>Balance: ($@Model.Household.EstimatedBalance estimated)</h5>
                    @Html.TextBox("balance", Model.Household.Balance, new { @class = "form-control", @type = "number" })
                    <h5 class="pt-3">Target: $@Model.Household.TotalBudgetTarget (calculated from budget targets)</h5>
                    @Html.TextBox("startAmount", Model.Household.StartAmount, new { @class = "form-control", @type = "number" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var labels = JSON.parse('@Html.Raw(Json.Encode(Model.ChartData.Labels))')
            var data = JSON.parse('@Html.Raw(Json.Encode(Model.ChartData.Data))')
            console.log(data)
        
        //--------------
        //- AREA CHART -
        //--------------

        // Get context with jQuery - using jQuery's .get() method.
        var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

        var areaChartData = {
            labels: labels,
            datasets: [
                {
                    label: 'Transaction Amount',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: data
                },
            ]
        }

        var areaChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false,
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                    }
                }]
            }
        }

        // This will get the first returned node in the jQuery collection.
        var areaChart = new Chart(areaChartCanvas, {
            type: 'line',
            data: areaChartData,
            options: areaChartOptions
        })
            })
    </script>


}