@using Budget_Tracker.Models
@model Budget
<!-- Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-10">
                <h1 class="m-0 text-dark" style="font-weight: bold; font-size: 300%">
                    <a style="cursor: pointer" data-target="#editBudgetModal" data-toggle="modal">
                        <i class="fas fa-edit" style="color: #037bff"></i>
                    </a>
                    @Model.Name: $@Model.Target
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <section class="col-lg-4">
                <!--Quick Action-->
                <a data-toggle="modal" data-target="#createBudgetItemModal" style="color:black; cursor: pointer">
                    <div class="info-box mb-3 bg-purple">
                        <span class="info-box-icon bg-white elevation-1"><i class="fas fa-cube" style="color: #6f42c1"></i></span>
                        <span class="info-box-content" style="font-size: large; font-weight: bold">Create Budget Item</span>
                        <i class="fas fa-plus-circle pull-right" style="color: white"></i>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!--Budgets Progress-->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="font-weight: bold">Budget Items</h3><br />
                        <p class="m-0">Click on an item to edit it.</p>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Spent</th>
                                    <th>Target</th>
                                    <th>Progress</th>
                                    <th style="width: 40px">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var loop = 2;
                                }
                                <tr data-toggle="modal" data-target="#editBudgetModal" style="cursor: pointer">
                                    <td>@Model.Name</td>
                                    <td>@Model.Spent</td>
                                    <td>@Model.Target</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-blue" style="width: @Model.Percentage%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-blue">@Model.Percentage%</span></td>
                                </tr>
                                @foreach (var item in Model.BudgetItems)
                                {
                                    var modalId = "editBudgetModal" + loop;
                                    <tr data-toggle="modal" data-target="#@modalId" style="cursor: pointer">
                                        <td>@item.Name</td>
                                        <td>@item.Spent</td>
                                        <td>@item.Target</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-green" style="width: @item.Percentage%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-green">@item.Percentage%</span></td>
                                    </tr>
                                    loop++;
                                    <!-- Budget Item Edit Modal -->

                                    <div id=@modalId class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            @using (Html.BeginForm("Edit", "BudgetItems", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("itemId", item.Id)
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="modal-title" style="font-weight: bold" id="createBudgetErrorHeader">Edit @item.Name</h2>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>Name</h4>
                                                        @Html.TextBox("itemName", item.Name, new { @class = "form-control" })
                                                        <h5 class="pt-3">Spent</h5>
                                                        @Html.TextBox("spentAmount", item.Spent, new { @class = "form-control", @type = "number" })
                                                        <h5 class="pt-3">Target</h5>
                                                        @Html.TextBox("targetAmount", item.Target, new { @class = "form-control", @type = "number" })
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-success">Save</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </section>
            <section class="col-lg-8">
                <!--Transactions-->
                <div class="card">
                    <a style="cursor: pointer" data-card-widget="collapse">
                        <div class="card-header">
                            <h3 class="card-title" style="font-weight: bold">Transactions</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </a>
                    <div class="card-body">
                        <table id="transactionsTable" class="table table-bordered table-striped " style="table-layout: fixed">
                            <thead>
                                <tr>
                                    <th>Bank Account</th>
                                    <th>Budget Item</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>User</th>
                                    <th>Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.Transactions)
                                {
                                    <tr style="cursor: pointer">
                                        <td>@transaction.BankAccount.Name</td>
                                        @if (transaction.Budget == null)
                                        {
                                            <td>N/A</td>
                                        }
                                        else
                                        {
                                            <td>@transaction.Budget.Name</td>
                                        }
                                        <td>@transaction.Type.ToString()</td>
                                        <td>$@transaction.Amount</td>
                                        <td>@transaction.Creator.FullName</td>
                                        <td>@transaction.Created</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Bank Account</th>
                                    <th>Budget Item</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>User</th>
                                    <th>Created</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>




<!-- Budget Edit Modal -->
<div id="editBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Html.BeginForm("Edit", "Budgets", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("budgetId", Model.Id)
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="font-weight: bold">Edit Budget</h2>
                </div>
                <div class="modal-body">
                    <h4>Name</h4>
                    @Html.TextBox("budgetName", Model.Name, new { @class = "form-control" })
                    <h5 class="pt-3">Spent</h5>
                    @Html.TextBox("spentAmount", Model.Spent, new { @class = "form-control", @type = "number" })
                    <h5 class="pt-3">Target: @Model.TotalItemTarget (calculated from item targets)</h5>
                    @Html.TextBox("targetAmount", Model.Target, new { @class = "form-control", @type = "number" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        }
    </div>
</div>

<!-- Budget Item Creation Modal -->
<div id="createBudgetItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Html.BeginForm("Create", "BudgetItems", FormMethod.Post, new { id = "createBudgetItemForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("budgetId", Model.Id)
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="font-weight: bold" id="createBudgetErrorHeader">Create Budget Item</h2>
                </div>
                <div class="modal-body">
                    <h4>Name</h4>
                    @Html.TextBox("budgetItemName", null, new { @class = "form-control", @id = "projectTitleTextBox" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        }
    </div>
</div>

<!-- /.content-wrapper -->

@section scripts {
    <script>

    </script>


}